<!doctype html>
<html>
<head>
    <title>Coordenadas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
</head>
<body>
    <div class="container">
        <!-- Botón de cierre dentro del contenedor sombreado -->
        <button onclick="window.location.href='/'" class="close-btn">X</button>

        <h2>Edita las coordenadas si es necesario</h2>
        
        <form action="/generate_kml" method="post">
            <!-- Selector de tipo de coordenadas -->
            <label>Tipo de Coordenadas:</label>
            <select name="tipo_coordenadas" id="tipo_coordenadas" onchange="toggleUTMFields()">
                <option value="geo">Geográficas</option>
                <option value="utm">UTM</option>
            </select><br>

            <div class="coordinates-table">
                <table>
                    <thead>
                        <tr>
                            <th id="latitud-header">Latitud</th>
                            <th id="longitud-header">Longitud</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="coordinates-table">
                        {% for coord in coordenadas %}
                        <tr>
                            <td><input type="text" name="latitud[]" value="{{ coord[0] }}" placeholder="Coordenada" class="coordinate-input"></td>
                            <td><input type="text" name="longitud[]" value="{{ coord[1] }}" placeholder="Coordenada" class="coordinate-input"></td>
                            <td class="action-buttons">
                                <button type="button" class="add-row-btn" onclick="addRow(this)">+</button>
                                <button type="button" class="remove-row-btn" onclick="removeRow(this)">-</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>                    
                </table>
            </div>            
            
            <div id="utm-fields" class="hidden"><br>
                <label>Zona:</label>
                <input type="text" id="zone" class="zone-input" name="zone"><br>
                
                <br><label>Hemisferio (N/S):</label>
                <select name="hemisferio">
                    <option value="N">Norte</option>
                    <option value="S">Sur</option>
                </select><br>
            </div>
            
            <button type="submit" class="generate-kml-btn">Generar KML</button>
        </form>
    </div>

    <!-- Modal para mostrar el error -->
    <div class="modal" id="errorModal" style="display: none;">
        <div class="modal-content">
            <h3>Ocurrió un error</h3>
            <p>Ingrese manualmente las coordenadas</p>
            <button onclick="closeErrorModal()">OK</button>
        </div>
    </div>

    <script>
        function toggleUTMFields() {
            var tipo = document.getElementById('tipo_coordenadas').value;
            var utmFields = document.getElementById('utm-fields');
            utmFields.style.display = (tipo === 'utm') ? 'block' : 'none';
            document.getElementById('latitud-header').textContent = (tipo === 'utm') ? 'Este (m)' : 'Latitud';
            document.getElementById('longitud-header').textContent = (tipo === 'utm') ? 'Norte (m)' : 'Longitud';
        }
    
        function addRow(button) {
            const row = button.parentNode.parentNode;
            const newRow = row.cloneNode(true);
    
            const latInput = newRow.querySelector('input[name="latitud[]"]');
            latInput.value = "";
            latInput.placeholder = "Coordenada";
    
            const lonInput = newRow.querySelector('input[name="longitud[]"]');
            lonInput.value = "";
            lonInput.placeholder = "Coordenada";
    
            row.parentNode.insertBefore(newRow, row.nextSibling);
        }
    
        function removeRow(button) {
            const row = button.parentNode.parentNode;
            const table = document.getElementById("coordinates-table");
    
            if (table.rows.length > 1) {
                row.parentNode.removeChild(row);
            }
        }
    
        // Función para cerrar el modal
        function closeErrorModal() {
            document.getElementById('errorModal').style.display = 'none';
        }
    
        // Función para mostrar el modal de error
        function showErrorModal() {
            document.getElementById('errorModal').style.display = 'block';
        }
    
        // Ejecutar acciones al cargar la página
        window.onload = function() {
            toggleUTMFields(); // Asegura que los campos UTM estén configurados correctamente
    
            // Detecta el parámetro 'error' en la URL y muestra el modal si está presente
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('error')) {
                showErrorModal();
            }
        };
    </script>
    
</body>
</html>
